.ContactItemView {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 50vw;
    min-height: 40px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0.1vw 0.5vw 0 #00000066;
    border-radius: 20px;
}
.contact-text {
    max-width: calc(80vw - 100px);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.contact-image{
    color: #2e7d99;
    font-size: 25px;
}

.contact-text {
    font-size: 25px;
}

@media screen and (max-width: 960px) {
    .ContactItemView {
        min-width: 80vw;
    }
}