
.ProjectView {
    width: 100%;
    min-height: 110vh;
    padding-left: 10%;
    padding-right: 10%;
    background: transparent;
}

@media screen and (max-width: 960px) {
    .ProjectView {
        padding-left: 5%;
        padding-right: 5%;
    }
}