@font-face {
    font-family: "ProductSansBold";
    src: url("../../../fonts/Product Sans Bold.ttf")  format("truetype");
    font-weight: bold;
}
.education-item{
    float: left;
    border-radius: 10px;
    width: 100%;
    margin: 10px;
    transition: 200ms;
}


.education-item-title{
    color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    display: grid;
    position: relative;
    background: white;
    box-shadow: 0 0.1vw 0.5vw 0 #00000066;
    overflow: hidden;
    cursor: pointer;
  }

  
.education-item-title-title{
    font-family: "ProductSansBold";
    font-weight: 200;
    padding-bottom: 15px;
    padding-left: 22px;
    font-size: 25px;
    position: relative;
    padding-top: 15px;
    padding-right: 15px;
    text-align: left;
    justify-content: left;
  }
  
  .education-item-title-date{
    font-weight: 300;
    font-size: 16px;
    padding-left: 30px;
    padding-top: 0px;
    padding-bottom: 15px;
    margin-top: -10px;
    right: 2%;
  }
  .fa-caret-right {
    position: relative;
    left: -10px;
  }
  
.education-item-content li{
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    font-size: 18px;
  }
  .education-item-content ul{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

.education-caret-open {
  transform: rotate(90deg);
  transition: all 0.5s;
}

.education-caret-closed {
  transform: rotate(0deg);
  transition: all 0.5s;
}

.education-item-content{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    margin-bottom: 10px;
    background: #ffffff;
    color: #000000;
    text-align: left;
    box-shadow: 0 0.1vw 0.5vw 0 #00000066;
    transition: color 0.5s;
  }

  .education-item-content.education-content-open {
    max-height: 1500px;
    transition: all 0.4s;
  }
  
  .education-item-content.education-content-closed {
    max-height: 0px;
    padding: 0;
    transition: all 0.4s;
  }

.education-item-title.education-content-open {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: all 0.4s;
}
.education-item-title.education-content-closed {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 0.4s;
}

@media screen and (max-width: 960px) {

.education-item-title-title{
    font-size: 18px;
  }
  
  .education-item-title-date{
    font-size: 13px;
  }
  
    .education-item-content li{
        font-size: 15px;
    }
    .education-item-content ul{
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 2px;
      padding-bottom: 2px;
    }
    .education-item{
        margin: 2px 10px 2px 0px;
    }
}