@font-face {
    font-family: "ProductSansBold";
    src: url("./fonts/Product Sans Bold.ttf")  format("truetype");
    font-weight: bold;
}
  @font-face {
    font-family: "ProductSansRegular";
    src: url("./fonts/Product Sans Regular.ttf")  format("truetype");
}

html{
    scroll-behavior: smooth;
    background-color: #f5fbfa;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'ProductSansRegular', sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}
